body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-xs: 12px;

  /* Colors */
  --color-gainsboro-100: #d9d9d9;
  --color-white: #fff;
  --color-black: #000;

  /* border radiuses */
  --br-3xs: 10px;
}


.score-100 {
  position: absolute;
  top: 12px;
  left: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 22px;
}
.icons8-menu-100px-1 {
  position: absolute;
  top: 15px;
  left: 22px;
  width: 15px;
  height: 16px;
  object-fit: cover;
}
.frame-child {
  position: absolute;
  top: 7px;
  left: 782px;
  border-radius: 50%;
  background-color: var(--color-gainsboro-100);
  width: 26px;
  height: 26px;
}
.icons8-user-48px-1 {
  position: absolute;
  top: 11px;
  left: 786px;
  width: 17px;
  height: 18px;
  object-fit: cover;
}
.frame,
.sol {
  position: absolute;
}
.sol {
  top: 12px;
  left: 678px;
  text-align: right;
  display: flex;
  align-items: center;
  width: 98px;
  height: 17px;
}
.frame {
  top: 0;
  left: 0;
  background-color: #2a2a2a;
  width: 819px;
  height: 41px;
  overflow: hidden;
}
.please-review-the {
  position: absolute;
  top: 14px;
  left: 182px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 30px;
}
.amount,
.buyer,
.dispute-at,
.dispute-id,
.merchant,
.product-name {
  position: absolute;
  top: 60px;
  left: 110px;
  text-align: right;
  display: flex;
  align-items: center;
  width: 86px;
  height: 20px;
}
.amount,
.buyer,
.dispute-at,
.merchant,
.product-name {
  left: 352px;
}
.amount,
.buyer,
.dispute-at,
.product-name {
  top: 88px;
  left: 110px;
}
.amount,
.buyer,
.dispute-at {
  left: 352px;
}
.amount,
.dispute-at {
  top: 116px;
  left: 110px;
}
.dispute-at {
  left: 352px;
}
.purchased-at {
  top: 144px;
  left: 110px;
  text-align: right;
}
.delivery-at,
.div,
.huy,
.purchased-at {
  position: absolute;
  display: flex;
  align-items: center;
  width: 86px;
  height: 20px;
}
.delivery-at {
  top: 144px;
  left: 352px;
  text-align: right;
}
.div,
.huy {
  top: 60px;
  left: 217px;
}
.huy {
  left: 459px;
}
.approve,
.bicycle,
.buyer-description,
.phuong,
.sol1,
.t073045,
.t0730451,
.t142045 {
  position: absolute;
  top: 88px;
  left: 217px;
  display: flex;
  align-items: center;
  width: 86px;
  height: 20px;
}
.approve,
.buyer-description,
.phuong,
.sol1,
.t073045,
.t0730451,
.t142045 {
  left: 459px;
}
.approve,
.buyer-description,
.sol1,
.t073045,
.t0730451,
.t142045 {
  top: 116px;
  left: 217px;
}
.approve,
.buyer-description,
.t073045,
.t0730451,
.t142045 {
  left: 459px;
  width: 161px;
}
.approve,
.buyer-description,
.t073045,
.t0730451 {
  top: 146px;
  left: 216px;
  width: 135px;
  height: 15px;
}
.approve,
.buyer-description,
.t0730451 {
  left: 458px;
}
.approve,
.buyer-description {
  top: 177px;
  left: 40px;
  width: 124px;
  height: 28px;
}
.approve {
  top: 1.49px;
  left: 8.78px;
  justify-content: center;
  width: 58.76px;
  height: 22.29px;
}
.approve-wrapper {
  position: absolute;
  top: 284px;
  left: 245px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 77px;
  height: 26px;
  text-align: center;
}
.disapprove {
  position: absolute;
  top: 1.49px;
  left: 11.52px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 77.08px;
  height: 22.29px;
}
.disapprove-wrapper {
  top: 284px;
  left: 344px;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 101px;
  height: 26px;
  text-align: center;
}
.disapprove-wrapper,
.frame-item,
.frame1 {
  position: absolute;
  border-radius: var(--br-3xs);
}
.frame-item {
  top: 205px;
  left: 31px;
  background-color: #e8e8e8;
  width: 621px;
  height: 66px;
}
.frame1 {
  top: 70px;
  left: 64px;
  background-color: var(--color-gainsboro-100);
  width: 690px;
  height: 346px;
  overflow: hidden;
  text-align: left;
  color: var(--color-black);
}
.frame-parent {
  position: relative;
  background: linear-gradient(#181818, #181818), #0d0d0d;
  width: 100%;
  height: 449px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--font-inter);
}
