.frame-icon {
  position: absolute;
  top: 15px;
  left: 22px;
  width: 15px;
  height: 16px;
  overflow: hidden;
  object-fit: cover;
}
.connect-wallet {
  position: absolute;
  top: 1.66px;
  left: 12.77px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85.47px;
  height: 24.86px;
}
.connect-wallet-wrapper {
  position: absolute;
  top: 0;
  left: 664px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 112px;
  height: 29px;
}
.score {
  position: absolute;
  top: 6px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 22px;
}
.connect-wallet-container {
  position: absolute;
  top: 0;
  left: 664px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 112px;
  height: 29px;
  color: var(--color-black);
}
.frame{
  position: absolute;
  width: 100%;
  height: 29px;
  overflow: hidden;
}
.frame2 {
  top: 0;
  left: 0;
  color: var(--color-white);
}
.frame,
.frame1 {
  top: 6px;
  left: 37px;
}
.frame {
  top: 0;
  left: 0;
  background: linear-gradient(#2a2a2a, #2a2a2a), #2a2a2a;
  width: 819px;
  height: 41px;
}
.you-should-pay {
  margin: 0;
}
.you-should-pay-container,
.you-should-pay-container1 {
  align-self: stretch;
  position: relative;
}
.you-should-pay-container1 {
  margin-top: -69px;
}
.frame4,
.participate {
  display: flex;
  align-items: center;
}
.frame4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 347px;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
}
.participate {
  position: relative;
  justify-content: center;
  width: 87px;
  height: 30px;
  flex-shrink: 0;
}
.participate-wrapper {
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 114px;
  height: 35px;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-smi);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
}
.frame3,
.frame5 {
  position: absolute;
  overflow: hidden;
}
.frame5 {
  top: 69px;
  left: 118px;
  width: 114px;
  height: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: var(--color-black);
}
.frame3 {
  top: 156px;
  left: 235px;
  width: 347px;
  height: 104px;
  color: var(--color-white);
}
.frame-parent {
  position: relative;
  background: linear-gradient(#181818, #181818),
    linear-gradient(#181818, #181818), #0d0d0d;
  width: 100%;
  height: 449px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  font-family: var(--font-inter);
}
